<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abodimazen.fahad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.abodimazen.ChildCare.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.abodimazen.ChildCare.Hospital" />
        <activity android:name="com.example.abodimazen.ChildCare.User" />
        <activity android:name="com.example.abodimazen.ChildCare.VerifyPhoneActivity" />
        <activity android:name="com.example.abodimazen.ChildCare.Profile" />
        <activity android:name="com.example.abodimazen.ChildCare.NewChild" />
        <activity android:name="com.example.abodimazen.ChildCare.Pro_hospital" />
        <activity android:name="com.example.abodimazen.ChildCare.Payment" />
        <activity android:name="com.example.abodimazen.ChildCare.Plan" />
        <activity android:name="com.example.abodimazen.ChildCare.Child_Profile" />
        <activity android:name="com.example.abodimazen.ChildCare.Child_record"></activity>
    </application>

</manifest>